:root {
    --white-color: #fff;
    --color-black: rgb(18, 18, 18);
    --theme-main-color-black: #242424;
    --theme-main-color-strada: #5E55D6;
    --theme-main-color-bg-grey: #a0a0a5;
    --theme-main-color-btn-transparent:  #5e55d676;
    --theme-main-color-black-transparent:  #635ae1;
}